<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votación Alumnos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='votacion.css') }}">
</head>
<body>
    <div class="voting-container">
        <h2>Votación Alumnos</h2>
        <form action="" method="post">
            <h3>Mejor Compañero y Compañera</h3>
            <label for="mejorCompañeroM">Masculino:</label>
            <select id="mejorCompañeroM" name="mejorCompañeroM">
                {% for candidato in candidatos_m %}
                <option value="{{ candidato }}">{{ candidato }}</option>
                {% endfor %}
            </select>
            
            <label for="mejorCompañeraF">Femenino:</label>
            <select id="mejorCompañeraF" name="mejorCompañeraF">
                {% for candidata in candidatos_f %}
                <option value="{{ candidata }}">{{ candidata }}</option>
                {% endfor %}
            </select>
            
            <button type="submit">Enviar Voto</button>
        </form>
    </div>
</body>
</html>
