<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='votacion.css') }}">
</head>
<body>
    <div class="voting-container">
        <h2>Votación</h2>
        <form action="" method="post">
            <h3>Mejor Compañero</h3>
            <label for="mejorCompañeroM">Masculino:</label>
            <select id="mejorCompañeroM" name="mejorCompañeroM">
                <option value="candidato1">Candidato 1</option>
                <option value="candidato2">Candidato 2</option>
                
            </select>
            
            <label for="mejorCompañeroF">Femenino:</label>
            <select id="mejorCompañeroF" name="mejorCompañeroF">
                <option value="candidata1">Candidata 1</option>
                <option value="candidata2">Candidata 2</option>
                
            </select>
            
            <button type="submit">Enviar Voto</button>
        </form>
    </div>
</body>
</html>