body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fondo oscuro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.voting-container {
    background-color: #333; /* Fondo del contenedor oscuro */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff; /* Texto blanco */
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Texto blanco */
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    background-color: #444; /* Fondo select oscuro */
    color: #fff; /* Texto select blanco */
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
